rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/modules/{moduleId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/exams/{examId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/friends/{friendId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/gradeglow/{documentId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /publicStudyProfiles/{profileId} {
      allow read: if request.auth != null;
      allow create, update, delete: if request.auth != null && request.auth.uid == profileId;
    }
  }
}
